* {
	box-sizing: border-box;
}
html {
	margin: 0 auto;
}
body {
	margin: 0 auto;
	max-width: 768px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
form {
	background: #e8fbfc;
}
header {
  background-color: darkgreen;
	color: white;
  text-transform: uppercase;
  font-style: oblique;
  letter-spacing: 0.2em;
  font-weight: 900;
	padding: 0.5em;
	}
h1 {
	margin: 0 auto;
}
p {
	font-weight: bold;
}
fieldset {
	border:none;
	margin: 10px 0;
}
legend {
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 10px;
}
input,
select,
textarea {
	background-color: #f1faeb;
	margin: 5px 0;
	padding: 10px 5px;
	border: 1px solid white;
	border-radius:7px;
	transition: .5s
}
footer p {
	font: italic 0.5em darkgrey;
}
input:hover {
opacity:1;
}
input:focus,
textarea:focus {
	background-color:#fcfadc;
}
input[type="submit"]{
	background-color: #46bdb5;
	color: white;
	border-radius: 9px;
	width: 95%;
}
input[type="submit"]:enabled {
	cursor: pointer;
}
hr {
	border: 1px solid;
}
option {
	font-size: 1em;
	color: blue;
}
.thick {
		border: 3px solid;
}
.flex-pair label {
	margin: 5px 0;
}
.flex-check label {
	margin: 5px 10px;
}
.contact-info label{
	text-align: left;
}
.flex-pair {
		display: flex;
		flex-direction: column;
	}
.flex-check {
	display: flex;
}
.interests {
	display: flex;
	flex-direction: column;
}
.form-type {
	display: flex;
	align-items: flex-start;
}

#zipcode {
max-width: 25%;
}

:required {
	text-align: right;
	padding-right: 15px;
}
::placeholder {
	text-align: right;
	padding-right: 15px;
}

/* ----- Media Query ----- */

@media (min-width: 768px){
	.flex-pair {
		flex-direction: row;
	}
	.flex-pair input,
	.flex-pair select {
		flex-grow:1;
		flex-basis:75%;
	}
	.flex-pair label {
  flex-basis: 25%;
  height: 50px;
  margin: auto 0;
}
.contact-info legend {
	text-align: left;
}
.form-type {
	text-align: left;
}
main {
	width: 70%;
	margin: 0 auto;
}

}
